* {
    font-family: 'Bricolage Grotesque', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    object-fit: contain;
}

.row {
    margin: 0 !important;
    padding: 0 !important;
}

#calculadora {
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: fit-content;
    height: fit-content;
    padding: 6vh 1vi 1vh 1vi;

}

button {
    border-radius: 10%;
    width: 100% !important;
    height: 7vh !important;
    font-size: 5vh;
    overflow: hidden;

}

.btnceleste {
    background-color: #2196f3;
    ;
    color: aliceblue;
}

.btnazul {
    background-color: #1465bb;
    color: aliceblue;
}

#pantalla {
    display: flex;
    flex-direction: column;
    height: 30vh;
    padding: 0;
}

#display2 {
    width: 100%;
    height: 80%;
    text-align: right;
    background-color: #86895d;
    font-size: 10vh;
    border: 0;
}

#display1 {
    width: 100%;
    background-color: #86895d;
    border: 0;
    font-size: 2.5vh;
}

#botones {
    width: 100%;
    display: grid;
    grid-gap: 1vi;
    grid-template-columns: repeat(4, 1fr);
}

@media (min-width: 768px) {
    #calculadora {
        width: 530px;
    }
}